USE [master]
GO
/****** Object:  Database [GBRMetaData]    Script Date: 8/11/2017 12:46:04 PM ******/
CREATE DATABASE [GBRMetaData]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GerberMetaData', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\GerberMetaData.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'GerberMetaData_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\GerberMetaData_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GBRMetaData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GBRMetaData]
GO
/****** Object:  User [gbSuperUser]    Script Date: 8/11/2017 12:46:04 PM ******/
CREATE USER [gbSuperUser] FOR LOGIN [gbSuperUser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [gbSuperUser]
GO
/****** Object:  Table [dbo].[Tenant]    Script Date: 8/11/2017 12:46:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tenant](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](128) NULL,
	[DbConnectionString] [nvarchar](255) NULL,
	[DateCreated] [datetime] NULL,
	[Status] [int] NULL,
	[Alias] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Tenant] ([Id], [Name], [DbConnectionString], [DateCreated], [Status], [Alias]) VALUES (1, N'MAS Holding', N'MasDefault', NULL, 1, N'mas')
INSERT [dbo].[Tenant] ([Id], [Name], [DbConnectionString], [DateCreated], [Status], [Alias]) VALUES (2, N'Brandix Pvt Limited', N'BrandixDefault', NULL, 1, N'brandix')
INSERT [dbo].[Tenant] ([Id], [Name], [DbConnectionString], [DateCreated], [Status], [Alias]) VALUES (3, N'TimeX Pvt Limited', N'TimeXDefault', NULL, 1, N'timex')
USE [master]
GO
